body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  width: 100%;
}

h1{
  font-size: 2rem!important;
}

h2{
  font-size: 1.5rem!important;
}

.panel-view{
  position: relative;
  margin-top: 2rem;
}

.panel-left{
  position: absolute;
  width: calc(50% - 2rem);
  border-right: 1px solid lightgray;
  display: inline-block;
  padding: 1rem;
}
.panel-right{
  position: absolute;
  left: 50%;
  width: calc(50% - 2rem);
  display: inline-block;
  padding: 1rem;
}

.panel-full{
  position: absolute;
  width: calc(100% - 2rem);
  display: inline-block;
  padding: 1rem;
}

.horizontal-panel-scroll{
  width: 90%;
  overflow-x: scroll;
}

.table90{
  width: 90%;
}

.subText{
  color: darkgray;
}

.separator1{
  margin-top: 1rem;
}

.infoMessage{
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #69f0ae;
  border-radius: 0.2rem;
}

.billEditor{
  display: flex;
  flex-wrap: wrap;
}

.billEditorCheckboxLabel{
  width: fit-content !important;
  padding-right: 1rem !important;
}

